@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html {
    font-family: "montserrat";
    font-size: 18px;
    height: 100%;
}

body {
    margin: 0;
}

#info {
    background-image: url(../img/Yuusha_cover.png);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-logo a{
    color: rgb(224, 45, 0);
    text-decoration: none;
    font-size: 30px;
}

header{
    margin: 0;
    text-align: center;
    font-size: 50px;
    color: rgb(243, 80, 191);
}

#heading {
    background-color: rgb(195, 204, 255);
    border-bottom: 10px solid #5895ff;
}

#heading nav li{
    text-align: center;
    display: inline-block;
    margin: 10px 10px 10px;
    font-size: 20px;
}

#heading nav li a{
    text-decoration: none;
}

.main {
    padding: 10px;
    color: rgb(50, 47, 102);
}

#info h1 {
    text-align: center;
}

#band {
    text-align: center;
}

#product { 
    background-color: #fff;
}

#songs {
    background-color: #fff;
}

.container {
    position: relative;
    width: 50%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #54c7ed;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}
  
.container:hover .overlay {
    width: 100%;
}
  
.text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

button {
    background-color: rgb(42, 127, 207);
    border: 5px solid rgb(42, 127, 207);
    border-radius: 12px;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
}

button:hover {
    background-color: #ffffff;
    color: rgb(42, 127, 207);
    transition: .5s ease;
}


.flex {
    display: flex;
}

.flex div{
    flex: 1;
    margin: 5px;
    text-align: center;
}

img {
    max-width: 250px;
    height: auto;
}

footer{
    background-color: rgb(195, 204, 255);
}

footer li{
    text-align: center;
    display: inline-block;
    margin: 10px 10px 10px;
    font-size: 20px;
}

footer li a{
    text-decoration: none;
}
